<div class="container">
  <div *ngIf="cartData.data[0].numInCart === 0;" class="text-center my-5">
    <h4>Twoj koszyk jest pusty</h4>
    <button class="btn btn-primary btn-lg mt-3" routerLink="/">Kontynuuj zamawianie zlecenia</button>
  </div>
  <ng-container *ngIf="cartData.data[0].numInCart !== 0">
    <div class="row">
      <div class="col my-4">
        <table class="table">
          <thead class="table-dark">
            <tr class="text-center">
              <th>Usuń z koszyka</th>
              <th>Nazwa serwisu</th>
              <th>Model</th>
              <th>Cena</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of cartData.data; let i=index">
              <td class="d-flex align-items-center justify-content-around">
                <img [src]="c.product.image" alt="{{c.product.name}}" height="60" class="order-1">
                <span class="text-danger" style="cursor: pointer;"><i class="fa fa-trash"
                    (click)="cartService.DeleteProductFromCart(i)"></i></span>
              </td>
              <td>
                <p>{{c.product.repair}}</p>
              </td>
              <td>
                <p>{{c.product.phone_model_name}}</p>
              </td>
              <td>
                <p>{{c.product.price | currency:'PLN '}}</p>
              </td>
            </tr>
            <tr class="border-0">
              <td style="border: none;"></td>
              <td></td>
              <td></td>
              <td>SUMA</td>
              <td>{{cartTotal | currency:'PLN '}}</td>

            </tr>

          </tbody>
        </table>
      </div>
      <div class="col-md-12 d-flex mb-5">
        <div class="d-flex w-100 justify-content-between flex-sm-column flex-md-row">
          <a routerLink="/checkout" class="btn btn-danger btn-sm order-1">Zamów</a>
          <a routerLink="/" class="btn btn-success btn-sm order-0">Kontynuuj zlecenia serwisów</a>
        </div>
      </div>
    </div>
  </ng-container>

</div>