<!-- HEADER -->
<header>
  <!-- MAIN HEADER -->
  <div id="header">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- ACCOUNT -->
        <div class="col-md-3 clearfix">
          <div class="header-ctn">
            <!-- Cart -->
            <div class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" style="cursor: pointer;">
                <i class="fa fa-shopping-cart"></i>
                <span>Twoj koszyk</span>
                <div class="qty">{{cartData.data[0].numInCart !== 0 ? cartData.data.length : 0}}</div>
              </a>
              <div class="cart-dropdown">
                <div class="cart-list" *ngIf="cartData.data[0].numInCart !== 0">
                  <div class="product-widget" *ngFor="let c of cartData.data; let i=index">
                    <div class="product-body">
                      <h3 class="product-name"><a href="#">{{c.product?.service_name}}</a></h3>
                      <h4 class="product-price"><span class="qty">{{c.numInCart}} x
                        </span>{{c.product?.service_price | currency:'PLN '}}</h4>
                    </div>
                    <button class="delete" (click)="cartService.DeleteProductFromCart(i)"><i
                        class="fa fa-close"></i></button>
                  </div>
                </div>
                <div class="cart-summary">
                  <small>{{cartData.data[0].numInCart !== 0 ? cartData.data.length : 0}} serwisy wybrane</small>
                  <h5>Suma : {{cartTotal | currency:'PLN '}}</h5>
                </div>
                <div class="cart-btns">
                  <a routerLink="/cart">Zobacz koszyk</a>
                  <a routerLink="/checkout">Zamów <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>
            </div>
            <!-- /Cart -->
          </div>
        </div>
        <!-- /ACCOUNT -->
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->

<!-- NAVIGATION -->
<nav id="navigation">
  <!-- container -->
  <div class="container">
    <!-- responsive-nav -->
    <div id="responsive-nav">
      <!-- NAV -->
      <ul class="main-nav nav py-3">
        <li class="active"><a href="#">Zleć serwis</a></li>
        <li><a routerLink="/myservices">Moje serwisy</a></li>
        <li><a routerLink="/messages">Wiadomości</a></li>
      </ul>
      <!-- /NAV -->
    </div>
    <!-- /responsive-nav -->
  </div>
  <!-- /container -->
</nav>
<!-- /NAVIGATION -->