<form [formGroup]="dropDownForm">
    <div class="form-group">
        <label>model</label>
        <select formControlName="model" (change)="getServiceById($event)" class="form-control">
            <!-- <select formControlName="model" class="form-control"> -->
            <option value="0">Wybierz model</option>
            <option [value]="model.id" *ngFor="let model of models">{{model.model_name}}
            </option>
        </select>
    </div>

    <div class="form-group">
        <label>serwisy</label>
        <select formControlName="service" class="form-control">
            <option value="0">Wybierz serwis</option>
            <option [value]="service.id" *ngFor="let service of servicesList"> {{service.repair}}
            </option>
        </select>
    </div>
    <div class="form-group">
        <label>Uwagi</label>
        <input formControlName="comments" placeholder="uwagi" />
    </div>

    <div>
        <button (click)="AddProduct()" class="btn btn-success">Dodaj do koszyka</button>
    </div>
</form>