<h2>Twoje wiadomości:</h2>
<!-- <div *ngIf="messages && messages.length > 0">
    <table>
        <thead>
            <tr>
                <th>Od kogo</th>
                <th>Treść</th>
                <th>Data wysłania</th>
            </tr>
        </thead>

        <tbody *ngFor="let m of messages let i=index">
            <td>{{m?.producent_name}}</td>
            <td>{{m?.data}}</td>
            <td>{{m?.send_date | slice:0:10}}</td>
        </tbody>
    </table>
</div>
<div *ngIf="messages && messages.length === 0 ">
    <h3> Brak wiadomości</h3>
</div> -->


<table>
    <thead>
        <tr>
            <th>Od kogo</th>
            <th>Treść</th>
            <th>Data wysłania</th>
            <th>Odpowiedz</th>
        </tr>
    </thead>
    <tbody>
        <td>m?.employee_name</td>
        <td>m?.data</td>
        <td>m?.send_date | slice:0:10</td>
        <td><button>Odpowiedz</button></td>
    </tbody>
</table>