<div class="jumbotron bg-transparent text-center">
    <div *ngIf="!user" class="card text-center">
        <div class="card-block">
            <h4 class="card-title">Niezalogowany</h4>
            <p class="card-text">Kontynuuj przez </p>
        </div>
        <div class="card-block">
            <button (click)="signInWithGoogle()"><span class="fa fa-google "></span></button>
        </div>
    </div>
    <div *ngIf="user">
        <h6 class="card-header">
            Zalogowano!
        </h6>
        <div class="card-block"></div>
        <img *ngIf="user.photoUrl" src="{{ user.photoUrl }}" style="width: 50px; margin-top:10px">
        <div class="card-block">
            <h4 class="card-title">{{ user.name }}</h4>
            <p class="card-text">{{ user.email }}</p>
            <p class="card-text">Zalogowano przez {{ user.provider }}</p>
        </div>
        <div class="card-block">
            <button class="btn btn-danger" (click)="signOut()">Wyloguj</button>
        </div>
        <div class="card-block" *ngIf="user.provider === GoogleLoginProvider.PROVIDER_ID">
            <!-- <button class="btn" (click)="refreshGoogleToken()">Refresh google token</button> -->
        </div>
    </div>
</div>