<h2>Twoje serwisy:</h2>

<div *ngIf="order && order.length > 0">
    <table>
        <thead>
            <tr>
                <th>Model</th>
                <th>Serwis</th>
                <th>Opis serwisu</th>
                <th>Cena Serwisu</th>
                <th>Data złożenia</th>
                <th>Data zakończenia</th>
                <th>Status</th>
                <th>Wiadomości</th>
            </tr>
        </thead>

        <tbody *ngFor="let o of order; let i = index">
            <td>
                <p *ngFor="let oi of o.orders_items">{{oi?.model_name}}</p>

            </td>
            <td>
                <p *ngFor="let oi of o.orders_items">{{oi?.repair}}</p>
            </td>
            <td>{{o?.description}}</td>
            <td>
                <p *ngFor="let oi of o.orders_items">{{oi?.price | currency: 'PLN'}}</p>
            </td>
            <td>{{o?.create_date | slice:0:10}}</td>
            <td>{{o?.modify_date | slice:0:10}}</td>
            <td>w trakcie realizacji</td>
            <td> <button type="submit" class="btn-outline-danger btn-sm my-2 btn-block"
                    (click)="getMessages(o.id)">Zobacz wiadomości</button></td>
        </tbody>
    </table>
</div>
<div *ngIf="messagesList && messagesList.length > 0">
    <table>
        <thead>
            <tr>
                <th>Wysłano</th>
                <th>Treść</th>
                <th>Użytkownik</th>
            </tr>
        </thead>

        <tbody *ngFor="let m of messagesList; let i=index">
            <td>{{m?.create_date}}</td>
            <td>{{m?.messages_text}}</td>
            <td>{{m?.owner_username}}</td>
        </tbody>
    </table>
    <form [formGroup]="formMessage">
        <div class="form-group">
            <label>Uwagi</label>
            <input formControlName="messages_text" placeholder="Wiadomość" />
        </div>
        <div class="form-group">
            <button (click)="sendMessage()">Odpowiedz</button>
        </div>
    </form>
</div>
<div *ngIf="messagesList && messagesList.length == 0">
    <form [formGroup]="formMessage">
        <div class="form-group">
            <label>Uwagi</label>
            <input formControlName="messages_text" placeholder="Wiadomość" />
        </div>
        <div class="form-group">
            <button (click)="sendMessage()">Odpowiedz</button>
        </div>
    </form>
</div>