<ngx-spinner bdColor="rgba(151,149,149,0.4)" size="large" color="orange" type="ball-clip-rotate-pulse"
  fullScreen="true">
  <p style="font-size: 20px; color: black">Booking Order...</p>
</ngx-spinner>

<div class="section" *ngIf="cartData.total > 0">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">

      <div class="col-md-7">
        <!-- Billing Details -->
        <div class="billing-details">
          <div class="section-title">
            <h3 class="title">Dane wysyłki</h3>
          </div>
          <div class="form-group">
            <input class="input" type="text" name="first-name" placeholder="Imię">
          </div>
          <div class="form-group">
            <input class="input" type="text" name="last-name" placeholder="Nazwisko">
          </div>
          <div class="form-group">
            <input class="input" type="email" name="email" placeholder="Email">
          </div>
          <div class="form-group">
            <input class="input" type="text" name="address" placeholder="Ulica">
          </div>
          <div class="form-group">
            <input class="input" type="text" name="city" placeholder="Miasto">
          </div>
          <div class="form-group">
            <input class="input" type="text" name="zip-code" placeholder="Kod pocztowy">
          </div>
          <div class="form-group">
            <input class="input" type="tel" name="tel" placeholder="Telefon">
          </div>
        </div>
        <!-- /Billing Details -->


        <!-- Order notes -->
        <div class="order-notes">
          <textarea class="input" placeholder="Uwagi do zlecenia"></textarea>
        </div>
        <!-- /Order notes -->
      </div>

      <!-- Order Details -->
      <div class="col-md-5 order-details">
        <div class="section-title text-center">
          <h3 class="title">Twoje zamówienie </h3>
        </div>
        <div class="order-summary">
          <div class="order-col">
            <div><strong>Serwis</strong></div>
            <div><strong>Łącznie</strong></div>
          </div>
          <div class="order-products">
            <div class="order-col" *ngFor="let c of cartData.data;">
              <div>{{c.product.repair}} <br>{{c.product.phone_model_name}}</div>
              <div>{{(c.product.price) | currency:'PLN '}}</div>
            </div>
          </div>
          <div class="order-col dropdown-divider">
            <div><strong>Suma</strong></div>
            <div><strong class="order-total">{{cartTotal | currency:'PLN '}}</strong></div>
          </div>
        </div>
        <button type="submit" class="btn-outline-danger btn-sm my-2 btn-block" [disabled]="cartTotal <= 0 "
          (click)="onCheckout()">Złóż zamówienie</button>
      </div>
      <!-- /Order Details -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

<div class="text-center my-5" *ngIf="cartData.total <= 0">
  <h4>Twoj koszyk jest pusty</h4>
  <button class="btn btn-primary btn-lg mt-3" routerLink="/">Kontynnuj zlecenie serwisu</button>
</div>